form.form(id=response.token, onkeypress="return event.keyCode != 13;")
  div.form-header
    .headingD.noMargin(class=response.completed ? "is-done" : "") #{response.projectName}
      //- Display done if completed
      .headingD.status(class=response.completed ? "is-done" : "")
  //- Only populate form body if not completed
  if !response.completed
    div.form-body
      input(type="hidden", name="token",
       value=response.token)
      section
        legend
          h2.headingB What were your key accomplishments this week? (required)
            br
            span.headingB-subheading (Try to limit to 3&ndash;6 items)
        ul.updating-list
          li
            input.input.updating-list-item(type="text", name="accomplishments")
      section
        legend
          h2.headingB What were you blocked on at some point this week?
            br
            span.headingB-subheading (Try to limit to 3&ndash;6 items)
        ul.updating-list
          li
            input.input.updating-list-item(type="text", name="blockers")
      section
        legend
          h2.headingB
            | Optional Private Feedback for Management
        p.headingC How's it going?
        div.morale-picker-container
          div.morale-picker
            div.morale-item
              input.morale-picker-input(type="radio", {{}} name="moralePicker", id="morale-rad-1" + response.token, value="1")
              label.morale-picker-label.morale-1(for="morale-rad-1" + response.token) Bad
            div.morale-item
              input.morale-picker-input(type="radio", name="moralePicker", id="morale-rad-2" + response.token, value="2")
              label.morale-picker-label.morale-2(for="morale-rad-2" + response.token) Neutral
            div.morale-item
              input.morale-picker-input(type="radio", name="moralePicker", id="morale-rad-3" + response.token, value="3")
              label.morale-picker-label.morale-3(for="morale-rad-3" + response.token) Good
        p.headingC Other private feedback?
          div.question-display-answers
            textarea.textarea(name="privateFeedback", form=response.token)
      div.form-footer
        input.btn(type="submit", value="Send Report")
        p.submit-error Couldn't submit. Make sure required fields are filled out and try again.
